.box {
  background-color: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1) !important;
  color: #4a4a4a !important;
  display: block;
  padding: 1.25rem;
}