.cardsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.cardsContainer::-webkit-scrollbar {
  width: 0.5em;
}

.cardsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.pokemonCard {
  min-width: 50px;
  margin: 5px;
  transition: transform 0.5s ease;
}
.pokemonCard:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 9999;
}
